.button {
  background-color: #81B3D2;
  color: white;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 280px;
  height: 58px;
  margin-left: 0 auto;
  border: none;
  margin-top: 54px;
}
