.main-nav {
  margin: 0;
  padding: 0;
  position: relative;
}

.main-nav__wrapper {
  width: 100%;
}

.main-nav__list {
  padding: 0;
  margin: 0;
}

.main-nav__item {
  background: @main-blue;
  border-bottom: 1px solid #678fa8;
  list-style: none;
  padding: 7px 0;
  margin: 0;
  width: 100%;
}

.main-nav__link {
  color:white;
  background-color: @main-blue;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
}

.main-nav__toggle{
  color:red;
}

@media (min-width: @tablet-width) {
  .main-nav__toggle {
    display: none;
  }
  .main-nav__item{
    background-color: @white;
    border: none;
    min-width: 20%;
    max-height: 56px;
    padding: 15px 23px;
    margin: 0 auto;
    &--right {
      margin-left: 20%;
    }
  }
  .main-nav__link {
    color: @black;
    background-color: @white;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
  }
  .main-nav__list {
    display: flex;
    width: 100%;
  }
}

