.page-footer {
  background-color: @white;
  min-height: 235px;
}

.page-footer__hashtag {
  padding-top: 27px;
  padding-bottom: 34px;
  padding-left: 77px;
  padding-right: 77px;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.page-footer__social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  max-width: 150px;
  margin: 0 auto;
}

.page-footer__copyright {
  padding-top: 45px;
  padding-right: 120px;
  padding-left: 95px;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  position: relative;
  width: 128px;
  margin: 0 auto;
  display: flex;

}

.page-footer__copyright-svg {
  position: absolute;
  padding-left: 102px;
  &:hover path {
    fill: @main-blue;
  }
  &:active path {
    fill: @black;
    opacity: 0.3;
  }
}

.page-footer__item {
  width: 46px;
  height: 48px;
  background-color: @main-blue;
  margin: 0 auto;
  &:hover {
    background-color: @button-hover;
  }
  &:active {
    background-color: @button-active;
  }
  &:active svg {
    opacity: 0.3;
  }
  &--twitter-svg {
    padding-top: 17px;
  }
  &--facebook-svg {
    padding-top: 13px;
  }
  &--youtube-svg {
    padding-top: 17px;
  }
}

@media (min-width: @tablet-width) {
  .page-footer {
    min-height: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .page-footer__hashtag {
    padding-top: 47px;
    padding-left: 60px;
  }
  .page-footer__social-list {
    margin: 0 auto;
    margin-left: 40px;
    list-style: none;
    padding-top: 36px;
  }
  .page-footer__item--facebook {
    margin-right: 6px;
    margin-left: 6px;
  }
  .page-footer__copyright {
    margin-left: 25px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer__social-list {
    margin-left: 125px;
  }
  .page-footer__copyright {
    margin-left: 55px;
  }
}
