.page-header {
  position: relative;
}

.page-header__logo-wrapper {
  height: 56px;
  width: 100%;
  background-color: white;
}

.page-header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
