.page-secondary {
  background-color: white;
}

.page-secondary__img-bg {
  position: relative;
  width: 100%;
  height: 200px;
  background-image: url(../img/second-background.jpg);
  background-color: @main-blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 15px;
  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 57px;
    background: url(../img/polygon.svg) no-repeat center;
    left: 0;
    bottom: -2px;
    z-index: 1;
  }
}

@media (min-resolution: 2dppx) {
  .page-secondary__img-bg {
    background-image: url(../img/second-background@2x.jpg);
  }
}

.page-secondary__img {
  padding-top: 90px;
  padding-bottom: 85px;
}

@media (min-width: @tablet-width) {
  .page-secondary__img-bg {
    height: 290px;
    background-image: url(../img/second-background-tablet.jpg);
  }
  @media (min-resolution: 2dppx) {
    .page-secondary__img-bg {
      background-image: url(../img/second-background-tablet@2x.jpg);
    }
  }
}

@media (min-width: @desktop-width) {
  .page-secondary__img-bg {
    padding-top: 10px;
    height: 290px;
    background-image: url(../img/second-background-desktop.jpg);
  }
  @media (min-resolution: 2dppx) {
    .page-secondary__img-bg {
      background-image: url(../img/second-background-desktop@2x.jpg);
    }
  }
}
