.photos__title {
  margin: 0;
  padding-top: 45px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.photos__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  color: @dark-grey;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.photos__item {
  padding: 0;
  margin: 0;
  border-top: 1px solid  #E5E5E5;
  padding-top: 25px;
}

.photos__describtion {
  font-size: 14px;
  line-height: 24px;
  font-weight: bold;
  text-align: left;
  padding-left: 20px;
}

.photos__name {
  padding: 0;
  margin: 0;
  padding-top: 8px;
}

.photos__author {
  color: @dark-grey;
  padding: 0;
  margin: 0;
  text-transform: none;
  font-weight: normal;
}

.photos__likes {
  margin-left: 30px;
  padding-left: 5px;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url(../img/icon-like.svg);
    position: absolute;
    left: -30px;
    width: 23px;
    height: 21px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .photos__title {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold;
    padding-top: 75px;
  }
  .photos__subtitle {
    width: 450px;
    padding-top: 25px;
    margin-left: 150px;
    margin-bottom: 55px;
  }
  .photos__info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .photos__galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    padding-left: 60px;
    padding-right: 60px;
  }
  .photos__item {
    margin: 0;
    padding: 0;
    border: none;
    width: 100%;
  }
  .photos__describtion {
    background-color: @light-grey;
    width: 304px;
    margin: 0 auto;
    height: 80px;
    &--road {
      width: 628px;
    }
    &--forest {
      background-color: @forest-grey;
    }
  }
  .photos__name {
    padding-top: 15px;
  }
  .photos__likes {
    padding-right: 25px;
    bottom:  25px;
  }
}

@media (min-width: @desktop-width) {
  .photos__title {
    padding-top: 115px;
  }
  .photos__subtitle {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 80px;
  }
  .photos__galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .photos__box {
    position: relative;
  }
  .photos__describtion {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  width: 380px;
  height: 80px;
  &--road {
    width: 1180px;
  }
  }
  .photos__name {
    color: @white;
  }
  .photos__author {
    color: @white;
    margin: 0;
    padding: 0;
  }
  .photos__likes {
    color: @white;
    padding-right: 20px;
    &::before {
      content: "";
      display: block;
      background-image: url(../img/icon-like-desktop.svg);
      position: absolute;
      left: -30px;
      width: 23px;
      height: 21px;
      background-repeat: no-repeat;
    }
  }
}
