.photos__title {
  margin: 0;
  padding-top: 32px;
  font-size: 18px;
  line-height: 26px;
  font-size: bold;
}

.photos__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
}

.photos__item {
  padding: 0;
  margin: 0;
  border-top: 1px solid  #E5E5E5;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.photos__describtion {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  text-align: left;
  padding-left: 20px;
}

.photos__author {
  color: @dark-grey;
}

.photos__likes {
  margin-left: 30px;
  position: relative;
  &::before {
    content: "";
    display: block;
    background-image: url(../img/icon-like.svg);
    position: absolute;
    left: -30px;
    width: 23px;
    height: 21px;
    background-repeat: no-repeat;
  }
}

@media (min-width: @tablet-width) {
  .photos__info-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .photos__galery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
  }
  .photos__item {
    margin: 0;
    padding: 0;
  }
  .photos__describtion {
    background-color: @light-grey;
  }
  .photos__link {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: @desktop-width) {
  .photos__galery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0;
  }
  .photos__box {
    position: relative;
  }
  .photos__describtion {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  background-color: rgba(0,0,0,.3);
  // opacity: 0.3;
  width: 100%;
  height: 80px;
  }
  .photos__name {
    color: @white;
  }
  .photos__author {
    color: @white;
    margin: 0;
    padding: 0;
  }
  .photos__likes {
    color: @white;
    margin: 0;
    padding: 0;
    &::before {
      content: "";
      display: block;
      background-image: url(../img/icon-like-desktop.svg);
      position: absolute;
      left: -30px;
      width: 23px;
      height: 21px;
      background-repeat: no-repeat;
    }
  }
}

