.video__intro {
  border-top: 1px solid  #E5E5E5;
}

.video__title {
  margin: 0;
  padding-top: 22px;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.video__subtitle {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-top: 5px;
  padding-bottom: 35px;
  color: #333;
}
