// Colors
@white: #FFFFFF;
@black: #000000;
@main-blue: #81B3D2;
@button-hover: #669EC0;
@button-active: #5496BD;
@dark-grey: #333333;
@light-grey: #F2F2F2;
@grey: #EEEEEE;
@grey-lines: #DBDBDB;
@icon-box: #E6E6E6;
@forest-grey: #EAEAEA;
@hover-grey: #E5E5E5;
@active-grey: #D5D5D5;
@light-brown: #766357;
@brown: #604E43;

// Viewports
@tablet-width: 768px;
@desktop-width: 1280px;
@mobile-width-only: 767px;
